<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role, nil, {}, class: 'base-select' do %>
    <option value="<%= User::ADMIN_ROLE %>">Administrador</option>
    <option value="<%= User::USER_ROLE %>">Usuario</option>
  <% end %>
</div>
