<a href="<%= root_path %>" class="mx-auto items-center flex flex-col">
  <img src="/docuizzi-mark.png" alt="<%= Docuseal.product_name %>" class="w-16 md:w-20 h-auto">
  <img src="/docuizzi-wordmark.png" alt="<%= Docuseal.product_name %>" class="w-32 md:w-40 h-auto -mt-1">
  <span class="block text-[10px] md:text-xs font-normal opacity-60 -mt-1">Powered by <%= Docuseal.attribution_name %></span>
</a>
