<div class="mt-2 mb-1">
  <%= button_to(submitter.sent_at? ? 'Reenviar WhatsApp' : 'Enviar WhatsApp',
                submitter_path(submitter),
                method: :put,
                params: { submitter: { phone: submitter.phone }, send_sms: '1' },
                class: 'btn btn-sm btn-primary w-full') %>
</div>
