<a href="/" class="flex flex-col justify-center items-center">
  <img src="/docuizzi-mark.png" alt="<%= Docuseal.product_name %>" class="w-28 md:w-36 h-auto">
  <img src="/docuizzi-wordmark.png" alt="<%= Docuseal.product_name %>" class="w-56 md:w-72 h-auto -mt-2">
  <span class="block text-xs font-normal opacity-60 mt-1">Powered by <%= Docuseal.attribution_name %></span>
</a>
